body {
  font-family:sans-serif;
  background: linear-gradient(135deg, rgba(78, 119, 59, 0.671), rgb(167, 112, 40));
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#container {
  display: flex;
  flex-direction: column;
  background: #3a3a3a;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
  position: static;
}

.input-field {
  display: flex;
  background: #edeef0;
  border-radius: 40px;
}

h1 {
  color: #ffffff;
}



#todo-input {
  width: calc(100% - 20px);
  padding: 25px;
  border: none;
  outline: none;
  background: transparent;
  border-radius: 4px;
}

button {
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#add-btn {
  background-color: #4db32e;
  color: rgb(255, 255, 255);
  width: 200px;
  border: none;
  outline: none;
  padding: 20px 40px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  &:hover {
    background-color: #4a9234;
  }
}

#clear-btn {
  background-color: #c82333;
  width: 200px;
  border: none;
  outline: none;
  padding: 12px 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  &:hover {
    background-color: #a10716;
  }
}

ul {
  list-style-type: none;
  padding: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 30px;
  background-color: #cac9c9;
}

.todo-item span {
  margin-right: auto;
  margin-left: 10px;
  cursor: text;
  border-style: none;
  border: none;
  outline: none;
  background-color: #cac9c9;
  color: rgb(7, 7, 7);
}

.span-input {
  border-style: none;
  background-color: white;
}

.delete-button {
  color: #000000;
  border: none;
  padding: 5px 12px;
  border-radius: 30px;
  cursor: pointer;
}

.delete-button:hover {
  background: #c82333;
}

.styled-checkbox {
  appearance: none;
  width: 25px;
  height: 25px;
  background-color: #f0f0f0;
  border: 2px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
}

.styled-checkbox:checked {
  background: linear-gradient(135deg, green, rgb(0, 255, 34));
  position: relative;
}

.styled-checkbox:checked::after {
  position: absolute;
  font-size: 16px;
  color: white;
  left: 4px;
  top: 1px;
}

#logout-btn {
  color: black;
  border-radius: 30px;
  
}
